{% extends "bibles/base.html" %}

{% block title%}首页 | 读经 | 约书亚团契{% endblock %}


{% block biblesMainContent %}
{% if daily_verses %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>今日经文
                <small>
                    {% with daily_verses|first as firstv %}
                        {{ firstv.book.book_name_zh }}
                        {{ firstv.chapternum }} :
                        {{ firstv.versenum }}
                    {% endwith %}
                    {% if not daily_verses|length_is:'1' %}
                        {% with daily_verses|last as lastv %}
                            - {{ lastv.versenum }}
                        {% endwith %}
                    {% endif %}
                </small>
            </h1>
        </div>
    </div>
    {% for verse in daily_verses %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <small>{{ verse.versenum }}</small> {{ verse.verse }}
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>今日经文
                <small> 暂未更新
                </small>
            </h1>
        </div>
    </div>
{% endif %}
{% if weekly_verses %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>本周经文
                <small>
                    {% with weekly_verses|first as firstv %}
                        {{ firstv.book.book_name_zh }}
                        {{ firstv.chapternum }} :
                        {{ firstv.versenum }}
                    {% endwith %}
                    {% if not weekly_verses|length_is:'1' %}
                        {% with weekly_verses|last as lastv %}
                            - {{ lastv.versenum }}
                        {% endwith %}
                    {% endif %}
                </small>
            </h1>
        </div>
    </div>
    {% for verse in weekly_verses %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <small>{{ verse.versenum }}</small> {{ verse.verse }}
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>本周经文
                <small> 暂未更新
                </small>
            </h1>
        </div>
    </div>
{% endif %}
{% for wr in weekly_readings %}
    {% if forloop.first %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>本周读经
                <small> 更新于 {{ wr.verse_date }}
                </small>
            </h1>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>{{ wr.start_verse.book }} {{wr.start_verse.chapternum }} <small>到</small> {{ wr.end_verse.book }} {{wr.end_verse.chapternum }}</h4>
        </div>
    </div>
{% empty %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>本周读经
                <small> 暂未更新
                </small>
            </h1>
        </div>
    </div>
{% endfor %}
{% for wrv in weekly_recitation_verses  %}
    {% if forloop.first  %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>本周背经
                <small> 更新于 {{ wrv.0.verse_date }}
                </small>
            </h1>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>{{ wrv.0.start_verse }} <small>到</small> {{ wrv.0.end_verse }}</h4>
        </div>
    </div>
    {% for verse in wrv.1 %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <small>{{ verse.versenum }}</small> {{ verse.verse }}
        </div>
    </div>
    {% endfor %}
{% empty %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>本周背经
                <small> 暂未更新
                </small>
            </h1>
        </div>
    </div>
{% endfor %}
{% endblock biblesMainContent %}
