{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}约书亚团契{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tell Baido not to tranform the website -->
    <meta http-equiv="Cache-Control" content="no-transform " />
    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'favicons/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="196x196" href="{% static 'favicons/favicon-192.png' %}">
    <link rel="icon" type="image/png" sizes="160x160" href="{% static 'favicons/favicon-160.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicons/favicon-96.png' %}">
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'favicons/favicon-64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16.png' %}">
    <link rel="apple-touch-icon" href="{% static 'favicons/favicon-57.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons/favicon-114.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons/favicon-72.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/favicon-144.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons/favicon-60.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons/favicon-120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/favicon-76.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/favicon-152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/favicon-180.png' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'favicons/favicon-144.png' %}">
    <meta name="msapplication-config" content="{% static 'favicons/browserconfig.xml' %}">
    <!-- ****** faviconit.com favicons ****** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'hymns/css/gepu.css' %}">
    {% block headBlock %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    </head>
    <body>
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'homepage:index' %}" style=" padding-top: 0px; padding-bottom: 0px; ">
                            <img src="{% static 'images/site-logo.png' %}" height="50" alt="约书亚"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                    {% block navbarBlock %}
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'hymns:index' %}">诗歌</a></li>
                            <li><a href="{% url 'bibles:index' %}">读经</a></li>
                            <li><a href="http://blog.j0shua.org">博客</a></li>
                            <li><a href="http://gospel.j0shua.org">福音</a></li>
                            <li><a href="{% url 'homepage:about_view' %}">关于</a></li>
                        </ul>
                    {% endblock navbarBlock %}
                    {% if not user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'homepage:register_view' %}">注册</a></li>
                        <li><a href="{% url 'homepage:login_view' %}?next={{ request.path }}">登录</a></li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">
                            {% if user.first_name or user.last_name %}
                            {{ user.first_name }} {{ user.last_name }}
                            {% else %}
                            {{ user.username }}
                            {% endif %}
                        </a></li>
                        <li><a href="{% url 'homepage:logout_view' %}">注销</a></li>
                    </ul>
                    {% endif %}
                        <!-- <form class="navbar-form navbar-right" role="form">
                            <div class="form-group">
                                <input type="text" placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Sign in</button>
                        </form> -->
                    </div><!--/.navbar-collapse -->
                </div>
            </div>

            <div class="container" id="main-container">
            {% block mainContent %}<h1>Hello, world!</h1>{% endblock mainContent %}
            </div>
        </div>

        <div id="footer">
            <div class="container text-center">
                <p class="text-muted">© Joshua | aplusplus
                {% if not debug_mode %}
                    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253212657'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/z_stat.php%3Fid%3D1253212657%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                {% endif %}
                </p>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% block extScriptFile %}{% endblock %}
        <script type="text/javascript">
        $(document).ready(function(){
                $("[href='{{request.path}}']").parent().addClass("active");
                {% block extScript %}{% endblock %}
        });
        </script>
    </body>
</html>
