{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block title%}首页 | 约书亚团契{% endblock %}

{% block temporary_iframe %}
<iframe id="preview-frame" src="{% static 'homepage/html/gbtags_clouds.html' %}" name="preview-frame" frameborder="0"></iframe>
{% endblock temporary_iframe %}
{% block mainContent %}
<!-- <div class="gbtags-body">
<div class="gbtags-cloud1"></div>
<div class="gbtags-cloud2"></div>
<div class="gbtags-cloud3"></div>
<div class="gbtags-cloud4"></div>
<div class="gbtags-cloud5"></div>
<div class="gbtags-cloud6"></div>
<div class="gbtags-cloud7"></div>
<div class="gbtags-cloud8"></div>
<div class="gbtags-cloud9"></div>
<div class="gbtags-cloud10"></div>
<div class="gbtags-cloud11"></div>
<div class="gbtags-theman">
  <div class="gbtags-hairleft"></div>
  <div class="gbtags-hairright"></div>
  <div class="gbtags-head">
    <div class="gbtags-hairline"></div>
    <div class="gbtags-bangsright"></div>
    <div class="gbtags-bangsleft"></div>
    <div class="gbtags-forehead1"></div>
    <div class="gbtags-forehead2"></div>
    <div class="gbtags-eyes"></div>
    <div class="gbtags-mouth"></div>
    <div class="gbtags-cheeks"></div>
    <div class="gbtags-beard"></div>
  </div>
  <div class="gbtags-torso">
    <div class="gbtags-egg"></div>
    <div class="gbtags-hand"></div>
    <div class="gbtags-arm1"></div>
    <div class="gbtags-arm2"></div>
  </div>
  <div class="gbtags-foot1"></div>
  <div class="gbtags-foot2"></div>
  <div class="gbtags-halo"></div>
</div>
</div> -->
<div class="jumbotron" style="background: transparent;">
        <h1>以马内利!</h1>
        <p>欢迎回到约书亚团契! 上帝祝福你!</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'homepage:about_view' %}" role="button">了解更多</a></p>
</div>
{% if daily_verses %}
<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <div class="caption">
                <h2>今日经文
                {% with firstv=daily_verses|first lastv=daily_verses|last %}
                    <small>
                            {{ firstv.book.book_name_zh }}
                            {{ firstv.chapternum }} :
                            {{ firstv.versenum }}
                        {% if not daily_verses|length_is:'1' %}
                                - {{ lastv.versenum }}
                        {% endif %}
                    </small>
                </h2>
                <p>
                {% for verse in daily_verses %}
                    <small>{{ verse.versenum }}</small> {{ verse.verse }}
                {% endfor %}
                </p>
                <p><a href="{% url 'bibles:bible' %}?bookid={{ firstv.book.id }}&chapternum={{ firstv.chapternum }}&verses={{ firstv.id }}-{{ lastv.id }}" class="btn btn-primary" role="button">查看</a>
                {% endwith %}
                <a href="{% url 'bibles:index' %}" class="btn btn-default" role="button">读经首页</a></p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if weekly_verses %}
<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <div class="caption">
                <h2>本周经文
                {% with firstv=weekly_verses|first lastv=weekly_verses|last %}
                    <small>
                            {{ firstv.book.book_name_zh }}
                            {{ firstv.chapternum }} :
                            {{ firstv.versenum }}
                        {% if not weekly_verses|length_is:'1' %}
                                - {{ lastv.versenum }}
                        {% endif %}
                    </small>
                </h2>
                <p>
                {% for verse in weekly_verses %}
                    <small>{{ verse.versenum }}</small> {{ verse.verse }}
                {% endfor %}
                </p>
                <p><a href="{% url 'bibles:bible' %}?bookid={{ firstv.book.id }}&chapternum={{ firstv.chapternum }}&verses={{ firstv.id }}-{{ lastv.id }}" class="btn btn-primary" role="button">查看</a>
                {% endwith %}
                <a href="{% url 'bibles:index' %}" class="btn btn-default" role="button">读经首页</a></p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% for weekly_hymns_by_place in weekly_hymns %}
{% if forloop.counter0|divisibleby:2 %}
<div class="row">
{% endif %}
    {% for hymn in weekly_hymns_by_place %}
        {% if forloop.first %}
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <h2>每周诗歌
                        <small>
                            {{ hymn.hymn_place.location_name }} {{ hymn.hymn_date}}
                        </small>
                    </h2>
                    <p><ol>
        {% endif %}
                    <li><a href="{% url 'hymns:hymn' hymn.hymn.id %}">{{ hymn.hymn.hymn_index }}.{{ hymn.hymn.hymn_name }}</a></li>
        {% if forloop.last %}
                    </ol></p>
                    <p><a href="{% url 'hymns:weekly_hymns' %}" class="btn btn-primary" role="button">查看</a> <a href="{% url 'hymns:index' %}" class="btn btn-default" role="button">诗歌首页</a></p>
            </div>
        </div>
    </div>
        {% endif %}
    {% endfor %}
{% if forloop.counter|divisibleby:2 or forloop.last %}
</div>
{% endif %}
{% endfor %}
{% endblock mainContent %}
{% block extScript %}
$("body").css({ "min-height": "1000px", "background": "lightblue"});
$("#preview-frame").css({"height": "800px", "width": "100%", "position": "absolute", "z-index": "-10"});
{% endblock %}
