{% extends "homepage/base.html" %}
{% load duoshuo_tags %}

{% block title%}登录 | 约书亚团契{% endblock %}

{% block mainContent %}

<div class="row">
    <div class="col-md-12">
<form class="form-signin" role="form" method="POST" action="{% url 'homepage:login_view' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">请登录</h2>
    <label for="input_username" class="sr-only">用户名</label>
    <input type="text" name="username" class="form-control" placeholder="用户名" id="input_username" required autofocus />
    <label for="input_password" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="密码" id="input_password" required />
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me" /> 记住我
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    <input type="hidden" name="next" value="{{ next|escape }}" />
</form>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        {% my_sso_duoshuo_login %}
    </div>
</div>

{% endblock %}
