{% extends "hymns/base.html" %}
{% load staticfiles %}

{% block title%}随便听听 | 约书亚团契{% endblock %}

{% block hymnsMainContent %}
<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group">
            <button class="btn btn-default" type="button" style="display: none;">hehe</button>
            <button class="btn btn-default" id="play" type="button"><span class="glyphicon glyphicon-play"></span> 播放</button>
            <button class="btn btn-default" id="pause" type="button"><span class="glyphicon glyphicon-pause"></span> 暂停</button>
            <button class="btn btn-default" id="stop" type="button"><span class="glyphicon glyphicon-stop"></span> 停止</button>
            <button class="btn btn-default" id="repeat" type="button"><span class="glyphicon glyphicon-repeat"></span> 打开循环</button>
            <button class="btn btn-info" id="repeatOff" type="button"><span class="glyphicon glyphicon-repeat"></span> 关闭循环</button>
            <button class="btn btn-default" id="next-hymn" type="button"><span class="glyphicon glyphicon-fast-forward"></span> 下一首</button>
            <button class="btn btn-default" type="button" style="display: none;">hehe</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <span id="title"></span> |
        <span id="currentTime"></span> / <span id="duration"></span>
    </div>
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        {% if hymn.hymn_score %}
            <a href="{{ hymn.hymn_score.url }}" target="_blank" id="hymn-score">
                <img src="{{ hymn.hymn_compressed_score.url }}" style="max-width: 100%; height: auto;"
                     alt="{{ hymn.hymn_name }}" id="hymn-compressed-score" title="点击查看原图">
            </a>
        {% else %}
            <h2>No scores......</h2>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extScriptFile %}
    <script type="text/javascript" src="{% static 'jplayer/jquery.jplayer.min.js' %}"></script>
{% endblock %}

{% block extScript %}
    $("#jquery_jplayer_1").jPlayer({
        ready: function () {
            $(this).jPlayer("setMedia", {
                title: "{{ hymn.hymn_name }}",
                mp3: "{{ hymn.hymn_audio }}",
            });
        },
        ended: function(event) {
            if (!event.jPlayer.options.loop) {
                $.get("{% url 'hymns:random_hymn_json'%}", function(data, status){
                    if (status == "success") {
                        //  alert(data.hymn_name);
                        //  alert(data.hymn_audio);
                        //  alert(data.hymn_score);
                        $('#hymn-compressed-score').attr({'src': data.hymn_compressed_score, 'alt': data.hymn_name});
                        $('#hymn-score').attr({'href': data.hymn_score});
                        $("#jquery_jplayer_1").jPlayer("setMedia", {
                            title: data.hymn_name,
                            mp3: data.hymn_audio,
                        });
                        $("#jquery_jplayer_1").jPlayer("play");
                    } else {
                        alert("服务器错误");
                    }
                });
            }
        },
        swfPath: "{% static 'jplayer/' %}",
        supplied: "mp3",
        cssSelectorAncestor: "",
        cssSelector: {
            title: "#title",
            play: "#play",
            pause: "#pause",
            stop: "#stop",
            currentTime: "#currentTime",
            duration: "#duration",
            repeat: "#repeat",
            repeatOff: "#repeatOff"
        },
    });
    $("#next-hymn").click(function(){
        $.get("{% url 'hymns:random_hymn_json'%}", function(data, status){
            if (status == "success") {
                //  alert(data.hymn_name);
                //  alert(data.hymn_audio);
                //  alert(data.hymn_score);
                $('#hymn-compressed-score').attr({'src': data.hymn_compressed_score, 'alt': data.hymn_name});
                $('#hymn-score').attr({'href': data.hymn_score});
                $("#jquery_jplayer_1").jPlayer("setMedia", {
                    title: data.hymn_name,
                    mp3: data.hymn_audio,
                });
                $("#jquery_jplayer_1").jPlayer("play");
            } else {
                alert("服务器错误");
            }
        });
    });
{% endblock %}
