{% extends "homepage/base.html" %}
{% load staticfiles %}
{% block title %}约书亚团契歌谱{% endblock %}
{% block navbarBlock %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'hymns:index' %}">所有歌曲</a></li>
        <li><a href="{% url 'hymns:hymn_by_key' %}">曲调分类</a></li>
        <li><a href="{% url 'hymns:weekly_hymns' %}">每周诗歌</a></li>
        <li><a href="{% url 'hymns:upload_hymn_view' %}">上传歌谱</a></li>
        <li><a href="{% url 'hymns:candidates_view' %}">候选歌谱</a></li>
    </ul>
    <form class="hidden-sm hidden-xs navbar-form navbar-left" role="search" method="GET" action="{% url 'hymns:search' %}">
        <div class="form-group">
            <input type="text"  name="queryString" class="form-control" placeholder="搜索歌谱">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
    </form>
    {% if not user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'hymns:register_view' %}">注册</a></li>
        <li><a href="{% url 'hymns:login_view' %}">登录</a></li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">
            {% if user.first_name or user.last_name %}
            {{ user.first_name }} {{ user.last_name }}
            {% else %}
            {{ user.username }}
            {% endif %}
        </a></li>
        <li><a href="{% url 'hymns:logout_view' %}">注销</a></li>
    </ul>
    {% endif %}
{% endblock navbarBlock %}

{% block mainContent %}
    <div class="row hidden-md hidden-lg">
        <div class="col-md-12">
            <form class="form-inline" role="form" method="GET" action="{% url 'hymns:search' %}">
                <div class="form-group">
                    <label class="sr-only" for="query-string">歌曲名称</label>
                    <input type="text"  id="query-string" name="queryString" class="form-control" placeholder="搜索歌谱">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
    </div>
{% block hymnsMainContent %}<h1>Hello, world!</h1>{% endblock hymnsMainContent %}
{% endblock mainContent %}
