{% extends "hymns/base.html" %}

{% block title%}候选乐谱 | 约书亚团契{% endblock %}

{% block mainContent %}
<div class="row">
    {% if candidate_hymn_list %}
    <div class="col-xs-12 col-md-4">
        <ul>
        {% for hymn in candidate_hymn_list %}
            {% if not forloop.first and forloop.counter0|divisibleby:num_of_rows %}
                </ul></div><div class="col-xs-12 col-md-4"><ul>
            {% endif %}
            <li><a href="{% url 'hymns:hymn' hymn.id %}">{{ hymn.hymn_name }} <small>{{ hymn.hymn_uploader.username }} 上传</small></a></li>
        {% endfor %}
        </ul>
    </div>
    {% else %}
        <p>没有候选歌曲</p>
    {% endif %}
</div>
{% endblock %}

