{% extends "hymns/base.html" %}
{% load staticfiles %}
{% load duoshuo_tags %}

{% block title%}乐谱 | 约书亚团契{% endblock %}

{% block hymnsMainContent %}
<div class="row">
    <div class="col-md-12 text-center">
        {% if hymn %}
            <h1>{{ hymn.hymn_index }} | {{ hymn.hymn_name }}</h1>
        {% endif %}
        <div class="btn-group">
            {% if hymn.hymn_ppt %}
            <a class="btn btn-success" href="{{ hymn.hymn_ppt.url }}" role="button"><span class="glyphicon glyphicon-save"></span> 下载 PPT </a>
            {% endif %}
            {% if hymn.hymn_pdf %}
            <a class="btn btn-success" href="{{ hymn.hymn_pdf.url }}" role="button"><span class="glyphicon glyphicon-save"></span> 下载 PDF </a>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'hymns:edit_hymn_view' hymn.id %}" role="button"><span class="glyphicon glyphicon-pencil"></span> 编辑 </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        {% if hymn.hymn_score %}
            <img src="{{ hymn.hymn_score.url }}" style="max-width: 100%; height: auto;" alt="{{ hymn.hymn_name }}">
        {% else %}
            <h2>No scores......</h2>
        {% endif %}
    </div>
</div>
{% if hymn.hymn_audio %}
<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group">
            <button class="btn btn-default" type="button" style="display: none;">hehe</button>
            <button class="btn btn-default" id="play" type="button"><span class="glyphicon glyphicon-play"></span> 播放</button>
            <button class="btn btn-default" id="pause" type="button"><span class="glyphicon glyphicon-pause"></span> 暂停</button>
            <button class="btn btn-default" id="stop" type="button"><span class="glyphicon glyphicon-stop"></span> 停止</button>
            <button class="btn btn-default" id="repeat" type="button"><span class="glyphicon glyphicon-repeat"></span> 打开循环</button>
            <button class="btn btn-info" id="repeatOff" type="button"><span class="glyphicon glyphicon-repeat"></span> 关闭循环</button>
            <button class="btn btn-default" type="button" style="display: none;">hehe</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group">
            <button class="btn btn-default" type="button" style="display: none;">hehe</button>
            <button class="btn btn-default" id="backward-play" type="button"><span class="glyphicon glyphicon-backward"></span> - 5 秒</button>
            <button class="btn btn-default" id="forward-play" type="button"><span class="glyphicon glyphicon-forward"></span> + 5 秒</button>
            <button class="btn btn-default" type="button" style="display: none;">hehe</button>
        </div>
    </div>
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <span id="title"></span> |
        <span id="currentTime"></span> / <span id="duration"></span>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
        <form role="form" method="POST" action="{% url 'hymns:saveAudioFile' hymn.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="audioUrlInput">歌曲链接(来自<a href="http://www.zanmeishi.com/" target="_blank">赞美诗网</a>)</label>
                <input type="text" class="form-control" name="audioUrlInput" id="audioUrlInput" placeholder="如 http://www.zanmeishi.com/song/8445.html">
            </div>
            <button type="submit" class="btn btn-primary">上传</button>
        </form>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% my_sso_duoshuo_comments 'hymn-'|addstr:hymn.id '诗歌-'|addstr:hymn.hymn_name request.build_absolute_uri request.path|escape %}
    </div>
</div>
{% endblock hymnsMainContent %}

{% block extScriptFile %}
{% if hymn.hymn_audio %}
    <script type="text/javascript" src="{% static 'jplayer/jquery.jplayer.min.js' %}"></script>
{% endif %}
{% endblock %}

{% block extScript %}
{% if hymn.hymn_audio %}
    $("#jquery_jplayer_1").jPlayer({
        ready: function () {
            $(this).jPlayer("setMedia", {
                title: "{{ hymn.hymn_name }}",
                mp3: "{{ hymn.hymn_audio }}",
            });
        },
        swfPath: "{% static 'jplayer/' %}",
        supplied: "mp3",
        cssSelectorAncestor: "",
        cssSelector: {
            title: "#title",
            play: "#play",
            pause: "#pause",
            stop: "#stop",
            currentTime: "#currentTime",
            duration: "#duration",
            repeat: "#repeat",
            repeatOff: "#repeatOff"
        },
    });
    $("#backward-play").click(function(){
        currentTime = $("#jquery_jplayer_1").data('jPlayer').status.currentTime;
        $("#jquery_jplayer_1").jPlayer("play", currentTime-5);
    });
    $("#forward-play").click(function(){
        currentTime = $("#jquery_jplayer_1").data('jPlayer').status.currentTime;
        $("#jquery_jplayer_1").jPlayer("play", currentTime+5);
    });
{% endif %}
{% endblock %}
