{% extends "musics/base.html" %}

{% block title%}候选乐谱列表 | 约书亚团契{% endblock %}

{% block hymnsMainContent %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>{{ music.music_name }} <small>{{ music.uploader.username }} 上传</small></h1>
        <ul>
        {% for score in music.candidate_score_no_music_set.all %}
            <li><a href="{% url 'musics:tmpScore' score_id=score.id score_type='candidate_score_no_music' %}">{{ score.score_name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% if haha %}
    <h1>HAHA</h1>
    {% endif %}
</div>
{% endblock %}

