{% extends "musics/base.html" %}

{% block title%}上传歌谱 | 约书亚团契{% endblock %}

{% block mainContent %}

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#candidate-score-tab" data-toggle="tab">为已有歌曲上传歌谱</a></li>
    <li><a href="#candidate-score-no-musics-tab" data-toggle="tab">添加歌曲并上传歌谱</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane fade in active" id="candidate-score-tab">
        <form class="form-signin" role="form" method="POST" ENCTYPE="multipart/form-data" action="{% url 'musics:saveScoreFile' upload_type='candidate_score' %}">
            {% csrf_token %}
<!--            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="candidate_score" />
                    诗歌已经存在. 仅上传歌谱文件.
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="candidate_score_no_music" />
                    诗歌不存在. 添加歌谱并上传歌谱文件.
                </label>
            </div> -->
            <select class="form-control" name="music_id" id="music_id">
            {% for music in music_list %}
                <option value="{{ music.id }}">{{  music.music_name }}</option>
            {% endfor %}
            </select>
            <select class="form-control" name="music_key_id" id="music_key_id">
            {% for music_key in music_key_list %}
                <option value="{{ music_key.id }}">{{  music_key.key_name }}</option>
            {% endfor %}
            </select>
            <div class="form-group">
                <label for="scoreInputFile">File input</label>
                <input type="file" name="scoreInputFile" id="scoreInputFile" />
            </div>
            <button type="submit" class="btn btn-primary">上传</button>
        </form>
    </div>
    <div class="tab-pane fade" id="candidate-score-no-musics-tab">
        <form class="form-signin" role="form" method="POST" ENCTYPE="multipart/form-data" action="{% url 'musics:saveScoreFile' upload_type='candidate_score_no_music' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="candidateMusicIndexInput">歌曲编号</label>
                <input type="number" class="form-control" name="candidateMusicIndexInput" id="candidateMusicIndexInput" placeholder="歌曲编号">
            </div>
            <div class="form-group">
                <label for="candidateMusicNameInput">歌曲名字</label>
                <input type="text" class="form-control" name="candidateMusicNameInput" id="candidateMusicNameInput" placeholder="歌曲名字">
            </div>
            <select class="form-control" name="music_key_id" id="music_key_id">
            {% for music_key in music_key_list %}
                <option value="{{ music_key.id }}">{{  music_key.key_name }}</option>
            {% endfor %}
            </select>
            <div class="form-group">
                <label for="scoreInputFile">File input</label>
                <input type="file" name="scoreInputFile" id="scoreInputFile" />
            </div>
            <button type="submit" class="btn btn-primary">上传</button>
        </form>
    </div>
</div>

{% endblock %}

