{% extends "hymns/base.html" %}

{% block title%}每周诗歌 | 约书亚团契{% endblock %}

{% block hymnsMainContent %}
<div class="row">
    <div class="col-md-12">
    {% for hymn_by_place_lists in weekly_hymn_list %}
        {% for hymn_list in hymn_by_place_lists %}
            {% if forloop.first %}
                <h2>{{ hymn_list }}</h2>
            {% else %}
                {% for hymn in hymn_list %}
                    {% if forloop.first %}
                    <h3>{{ hymn.hymn_place.location_name }}</h3>
                    <div class="btn-group">
                        {% if hymn.hymn_ppt %}
                        <a class="btn btn-default" href="{{ hymn.hymn_ppt.url }}" role="button"><span class="glyphicon glyphicon-save"></span> 下载 PPT </a>
                        {% endif %}
                        {% if hymn.hymn_pdf %}
                        <a class="btn btn-default" href="{{ hymn.hymn_pdf.url }}" role="button"><span class="glyphicon glyphicon-save"></span> 下载 PDF </a>
                        {% endif %}
                    </div>
                    <ol>
                        <li><a href="{% url 'hymns:hymn' hymn.hymn.id %}">{{ hymn.hymn.hymn_index }}.{{ hymn.hymn.hymn_name }}</a></li>
                    {% else %}
                        <li><a href="{% url 'hymns:hymn' hymn.hymn.id %}">{{ hymn.hymn.hymn_index }}.{{ hymn.hymn.hymn_name }}</a></li>
                    {% endif %}
                {% endfor %}
                    </ol>
            {% endif %}
        {% endfor %}
    {% empty %}
        <h1>没有记录^_^</h1>
    {% endfor %}
    </div>
</div>

{% endblock %}
