{% extends "hymns/base.html" %}

{% block title%}每周诗歌 | 约书亚团契{% endblock %}

{% block hymnsMainContent %}
<div class="row">
    <div class="col-md-12">
    {% for hymn_list in weekly_hymn_list %}
        {% for hymn in hymn_list%}
            {% if forloop.first %}
            <h2>{{ hymn }}</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>仙林</th>
                            <th>市区</th>
                        </tr>
                    </thead>
                    <tbody>
            {% else %}
                {% if forloop.counter0|divisibleby:2 %}
                    {% if hymn %}
                            <td>
                                <a href="{% url 'hymns:hymn' hymn.hymn.id %}">{{ hymn.hymn_place.location_name }}: {{ hymn.hymn.hymn_index }}.{{ hymn.hymn.hymn_name }}</a>
                            </td>
                        </tr>
                    {% else %}
                            <td>无记录</td>
                        </tr>
                    {% endif %}
                {% else %}
                        <tr><td></td>
                    {% if hymn %}
                            <td>
                                <a href="{% url 'hymns:hymn' hymn.hymn.id %}">{{ hymn.hymn_place.location_name }}: {{ hymn.hymn.hymn_index }}.{{ hymn.hymn.hymn_name }}</a>
                            </td>
                    {% else %}
                            <td>无记录</td>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
                    </tbody>
                </table>
            </div>
    {% empty %}
        <h1>没有记录^_^</h1>
    {% endfor %}
    </div>
</div>

{% endblock %}
