{% extends 'blog/base1.html' %}
{% load staticfiles %}

{% block title %}{{ article.title }}  | 博客 | 约书亚团契 {% endblock %}

{% block pageHeader %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url(
    {% if article.cover %}
        {{ article.cover.url }}
    {% else %}
        {% static 'blog/img/post-bg.jpg' %}
    {% endif %}
        )">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ article.title }}</h1>
                        <h2 class="subheading">{{ article.excerpt }}</h2>
                        <span class="meta">由 <a href="#">{{ article.author }}</a> 发表于 {{ article.date_publish }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock pageHeader %}

    <!-- Post Content -->
{% block mainContent %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ article.content_markup|safe }}
                </div>
            </div>
        </div>
    </article>
{% endblock mainContent %}

{% block extScript %}
$("article div.container img").addClass("img-responsive");
$("article div.container pre").addClass("hll");
$("article div.container h2").addClass("section-heading");
{% endblock extScript%}
